header {
    background-color: #133441; /*  цвет фона  */
    color: rgb(255, 255, 255); /*  цвет текста  */
    padding: 20px; /*  отступы для содержимого шапки */
}
footer{
    display: flex;
    justify-content: end;
    color:aliceblue;
    background-color: #393A3F;
}
body{
    background-color: #27676C;
    color: aliceblue;
}
p{
 color:white;
 font-weight: 700;
 font-size: 35px;
 text-align:center;
}
.logo{
    width: 5%;
    height: 5%;
}
.nav-list {
    display: flex;
    justify-content: end;
    list-style: none;
    text-decoration: none;
}
.nav-list h1{
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: end;
    padding-left: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 40px;
}
pre{
    color:white;
    font-weight: 700;
    font-size: 35px;
    text-align:center;
   }
@media  (max-width: 412px){
    .nav-list h1{
        font-size: 18px;

    }
    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 30%;
        height: 30%;
    }
}
